@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Suisse Int'l", Helvetica, Arial, -apple-system, BlinkMacSystemFont, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

/*
https://coolors.co/palettes/trending/#424656
*/

$text-color:       #383a45 !default;
$background-color: #fbfafa !default;
$brand-color:      #a4cac5 !default;

$grey-color:       #5f6c7a !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;

@font-face {
  font-family: "Suisse Int'l";
  font-style: normal;
  font-weight: 200;
  src: url('fonts/SuisseIntl-Light-WebS.woff') format('woff');
}
@font-face {
  font-family: "Suisse Int'l";
  font-style: normal;
  font-weight: 400;
  src: url('fonts/SuisseIntl-Regular-WebS.woff') format('woff');
}
@font-face {
  font-family: "Suisse Int'l";
  font-style: normal;
  font-weight: 600;
  src: url('fonts/SuisseIntl-SemiBold-WebS.woff') format('woff');
}

@font-face {
  font-family: "Suisse Int'l";
  font-style: italic;
  font-weight: 200;
  src: url('fonts/SuisseIntl-LightItalic-WebS.woff') format('woff');
}
@font-face {
  font-family: "Suisse Int'l";
  font-style: italic;
  font-weight: 400;
  src: url('fonts/SuisseIntl-RegularItalic-WebS.woff') format('woff');
}
@font-face {
  font-family: "Suisse Int'l";
  font-style: italic;
  font-weight: 600;
  src: url('fonts/SuisseIntl-SemiBoldItalic-WebS.woff') format('woff');
}

@font-face {
  font-family: "Suisse Int'l Mono";
  font-style: normal;
  font-weight: 400;
  src: url('fonts/SuisseIntlMono-Regular-WebS.woff') format('woff');
}
